<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание GPS Трека</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container mt-4">
    <h2>Создание GPS Трека</h2>
    <form id="trackForm">
        <div id="coordinatesContainer"></div>
        <button type="button" class="btn btn-success mt-3" onclick="submitCoordinates()">Отправить</button>
    </form>
    <div id="output" class="mt-3"></div>
</div>

<div class="container mt-4">
    <h2>Создание GPS Трека по массиву координат</h2>
    <form id="textForm" accept-charset="UTF-8">
        <div class="mb-3">
            <label for="textInput" class="form-label">Введите координаты (заголовок, далее каждая строка - пара координат):</label>
            <textarea class="form-control" id="textInput" rows="10" placeholder="Заголовок.&#10;01 N 60°08.910′ E 030°34.915′&#10;02 N 60°08.846′ E 030°35.171′"></textarea>
        </div>
        <div class="mt-3">
            <label for="fileName" class="form-label">Имя файла:</label>
            <input type="text" id="fileName" placeholder="track_from_text">
            <span class="form-text">*опционально</span>
        </div>
        <button type="button" class="btn btn-success mt-3" onclick="submitText()">Отправить</button>
    </form>

    <div id="result" class="mt-3"></div>
</div>
</body>
<footer>
    <div class="container mt-4">
        <p style="color: lightgray;">
            Текущая версия: <span th:text="${version}"></span>
        </p>
    </div>
</footer>

<script>
    let coordinates = [];
    let rowIndex = 0;

    function addRow(latValue = '', lonValue = '') {
        rowIndex++;
        const container = document.getElementById('coordinatesContainer');
        const rowDiv = document.createElement('div');
        rowDiv.className = 'row mb-3';
        rowDiv.id = `row-${rowIndex}`;

        rowDiv.innerHTML = `
            <div class="col-md-5">
                <label for="lat${rowIndex}" class="form-label">Широта ${rowIndex}</label>
                <input type="text" class="form-control" id="lat${rowIndex}" name="lat${rowIndex}" placeholder="N 60°08.910′" value="${latValue}" title="в формате:N 60°08.910′">
            </div>
            <div class="col-md-5">
                <label for="lon${rowIndex}" class="form-label">Долгота ${rowIndex}</label>
                <input type="text" class="form-control" id="lon${rowIndex}" name="lon${rowIndex}" placeholder="E 030°34.915′" value="${lonValue}" title="в формате:E 030°35.171′">
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button type="button" class="btn btn-primary w-100" onclick="addCoordinate(${rowIndex})">Добавить</button>
                <button type="button" class="btn btn-danger w-100 mt-1" onclick="removeRow(${rowIndex})">Удалить</button>
            </div>
        `;
        container.appendChild(rowDiv);
    }

    function addCoordinate(index) {
        const latInput = document.getElementById(`lat${index}`);
        const lonInput = document.getElementById(`lon${index}`);
        const latValue = latInput.value.trim();
        const lonValue = lonInput.value.trim();
        if (latValue && lonValue) {
            coordinates.push({lat: latValue, lon: lonValue});
            console.log("Добавлена координата:", {lat: latValue, lon: lonValue});
            addRow();
        } else {
            alert(`Пожалуйста, заполните оба поля для строки ${index}.`);
        }
    }

    function removeRow(index) {
        const rowElement = document.getElementById(`row-${index}`);
        if (rowElement) {
            rowElement.remove();
        }
    }

    function submitCoordinates() {
        coordinates = [];
        const container = document.getElementById('coordinatesContainer');
        const rows = container.querySelectorAll('.row');
        rows.forEach(row => {
            const latInput = row.querySelector('input[id^="lat"]');
            const lonInput = row.querySelector('input[id^="lon"]');

            if (latInput && lonInput) {
                const latValue = latInput.value.trim();
                const lonValue = lonInput.value.trim();

                if (latValue && lonValue) {
                    coordinates.push({lat: latValue, lon: lonValue});
                }
            }
        });

        const coordinatesToSend = coordinates;
        fetch('/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(coordinatesToSend)
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        console.error("Ответ сервера с ошибкой (HTML):", text);
                        throw new Error(`${response.status} ${text}`);
                    });
                }
                return response.blob();
            })
            .then(blob => {
                const downloadUrl = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = downloadUrl;
                link.download = 'track.gpx';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                window.URL.revokeObjectURL(downloadUrl);
                console.log('Файл успешно получен и предложен для скачивания.');
                document.getElementById('output').innerHTML = '<div class="alert alert-success">Файл успешно создан</div>';
                coordinates = [];
                document.getElementById('coordinatesContainer').innerHTML = '';
                rowIndex = 0;
                addRow();
            })
            .catch(error => {
                console.error('Ошибка при отправке или обработке ответа:', error);
                document.getElementById('output').innerHTML = '<div class="alert alert-danger">Сервер вернул ошибку: <br>' + error.message + '</div>';
            });
    }

    document.addEventListener('DOMContentLoaded', function () {
        addRow();
    });

    function submitText() {
        const textArea = document.getElementById('textInput');
        const text = textArea.value;
        const lines = text.split('\n')
            .map(line => line.trim())
            .filter(line => line.length > 0);
        const fileNameInput = document.getElementById('fileName');
        let fileName = 'track_from_text.gpx';
        if (fileNameInput && fileNameInput.value.trim() !== '') {
            fileName = fileNameInput.value.trim();
            if (!fileName.toLowerCase().endsWith('.gpx')) {
                fileName += '.gpx';
            }
        }

        fetch('/text', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(lines)
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        console.error("Ответ сервера с ошибкой:", text);
                        throw new Error(`${response.status} ${text}`);
                    });
                }
                return response.blob();
            })
            .then(blob => {
                const downloadUrl = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = downloadUrl;
                link.download = fileName;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                window.URL.revokeObjectURL(downloadUrl);
                console.log('Файл успешно получен и предложен для скачивания.');
                document.getElementById('result').innerHTML =
                    '<div class="alert alert-success">Файл успешно создан</div>';
                textArea.value = '';
                if (fileNameInput) {
                    fileNameInput.value = '';
                }
            })
            .catch(error => {
                console.error('Ошибка при отправке или обработке ответа:', error);
                document.getElementById('result').innerHTML =
                    '<div class="alert alert-danger">Сервер вернул ошибку: <br>' + error.message + '</div>';
            });
    }
</script>

</html>